<div class="container">
    <h4 class="bg-light d-inline-block px-4 mb-4 ml-5">マイページ</h4>
    <div class="d-flex mb-2">
        <h5 class="mb-0">登録情報</h5>
        <%= link_to '編集する', edit_customer_path, class: 'btn btn-success text-white ml-4' %>
    </div>
    <div class="row">
        <div class="col-7">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="table-secondary">氏名</th>
                        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
                    </tr>
                    <tr>
                        <th class="table-secondary">カナ</th>
                        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
                    </tr>
                    <tr>
                        <th class="table-secondary">郵便番号</th>
                        <td><%= @customer.postal_code %></td>
                    </tr>
                    <tr>
                        <th class="table-secondary">住所</th>
                        <td><%= @customer.address %></td>
                    </tr>
                    <tr>
                        <th class="table-secondary">電話番号</th>
                        <td><%= @customer.telephone_number %></td>
                    </tr>
                    <tr>
                        <th class="table-secondary">メールアドレス</th>
                        <td><%= @customer.email %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-5">
        <table class="table table-borderless table-sm">
            <tbody>
                <tr>
                    <th><h5>配送先</h5></th>
                    <td><%= link_to '一覧を見る', addresses_path, class: 'btn btn-primary text-white ml-4 col-7 ' %></td>
                </tr>
                <tr>
                    <th><h5>注文履歴</h5></th>
                    <td><%= link_to '一覧を見る', orders_path, class: 'btn btn-primary text-white ml-4 col-7' %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>