<h1>商品詳細</h1>

<%= image_tag @item.get_item_image(200, 200) %>

<table>
    <tbody>
        <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
        </tr>
        <tr>
            <th>商品説明</th>
            <td><%= @item.introduction %></td>
        </tr>
        <tr>
            <th>ジャンル</th>
            <td><%= @item.genre.name %></td>
        </tr>
        <tr>
            <th>税込価格<br>(税抜価格)</th>
            <!--NOT SURE-->
            <td><%= @item.add_tax_price %> (<%= @item.before_tax_price %>) 円</td>
        </tr>
        <tr>
            <th>販売ステータス</th>
            <!--NOT SURE-->
            <% if @item.is_active = true %>
                <td>販売中</td>
            <% else %>
                <td>販売停止中</td>
            <% end %>
        </tr>
    </tbody>
</table>
<%= link_to '編集する', edit_admin_item_path(@item.id) %>