<%= render 'admin/genres/genre_search', genres: @genres %>

<div>
    <p>ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
    </p>
</div>


<h1>新着商品</h1>
<div>
    <% @items.first(4).each do |item| %>
        <%= image_tag item.get_item_image(100, 180) %><br>
        <p><%= item.name %></p>
        <p>￥<%= item.add_tax_price %></p>
    <% end %>
</div>

<!--LINK NOT WORKING-->
<%= link_to '全ての商品を見る>', items_path %>