<%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
<div class="container">
    <h3 class="d-inline-block bg-light px-3 mb-4"><%= @customer.full_name %>さんの会員情報編集</h3>
    <div class="col-8">
        <table class="table table-borderless table-sm">
            <tbody>
                <tr>
                    <th>会員ID</th>
                    <td><%= @customer.id %></td>
                </tr>
                <tr>
                    <th>氏名</th>
                    <td><%= f.text_field :last_name, class: 'rounded mr-4' %><%= f.text_field :first_name, class: 'rounded' %></td>
                </tr>
                <tr>
                    <th>フリガナ</th>
                    <td><%= f.text_field :last_name_kana, class: 'rounded mr-4' %><%= f.text_field :first_name_kana, class: 'rounded' %></td>
                </tr>
                <tr>
                    <th>郵便番号</th>
                    <td><%= f.text_field :postal_code, class: 'rounded' %></td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td><%= f.text_field :address, class: 'rounded col-12' %></td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td><%= f.text_field :telephone_number, class: 'rounded' %></td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><%= f.text_field :email, class: 'rounded' %></td>
                </tr>
                <tr>
                    <th>会員ステータス</th>
                    <td>
                        <%= f.radio_button :is_deleted, false %>
                        <%= f.label :is_deleted, "有効", class: 'mr-2' %>
                        <%= f.radio_button :is_deleted, true %>
                        <%= f.label :is_deleted, "退会" %><br>
                    </td>
                </tr>
                <tr>
                    <th colspan="1"></th>
                    <td><%= f.submit '変更を保存', class: 'col-4 btn btn-success text-white font-weight-bold' %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<% end %>

