<%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
<div class="container">
    <div class="col-9">
        <h3 class="d-inline-block bg-light px-3 ml-5 mb-3">注文履歴詳細</h3>
        <table class="table table-borderless table-sm">
            <tbody>
                <tr>
                    <th>購入者</th>
                    <td><%= @customer.full_name %></td>
                </tr>
                <tr>
                    <th>注文日</th>
                    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
                </tr>
                <tr>
                    <th>配送先</th>
                    <td>
                        <%= '〒' + @order.delivery_postal_code.to_s.insert(3, "-") %>
                        <%= @order.delivery_address %><br>
                        <%= @order.delivery_name %>
                    </td>
                </tr>
                <tr>
                    <th>支払方法</th>
                    <td><%= @order.payment_method_i18n %></td>
                </tr>
                <tr>
                    <th>注文ステータス</th>
                    <td>
                        <%= f.select :order_status, Order.order_statuses_i18n.invert, {}, class: 'mr-4 rounded' %>
                        <%= f.submit "更新", class: 'btn btn-success text-white font-weight-bold' %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<% end %>
<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table table-sm border-bottom border-light">
                <thead class="thead-light">
                    <tr>
                        <th>商品名</th>
                        <th>単価(税込)</th>
                        <th>数量</th>
                        <th>小計</th>
                        <th>製作ステータス</th> 
                    </tr>
                </thead>
                <tbody>
                    <% @order_details.each do |order_detail| %>
                    <tr>
                        <td><%= order_detail.item.name %></td>
                        <td><%= order_detail.price_on_purchase.round.to_s(:delimited) %></td>
                        <td><%= order_detail.amount %></td>
                        <td><%= order_detail.get_subtotal %></td>
                        <td>
                            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
                            <%= f.select :production_status, OrderDetail.production_statuses_i18n.invert, {}, class: 'mr-3 rounded' %>
                            <%= f.submit "更新", class: 'btn btn-success text-white font-weight-bold' %>
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div style="height: 150px;" class="col-3 mt-auto mb-1">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>商品合計</th>
                        <td><%= @order.get_items_total %></td>
                    </tr>
                    <tr>
                        <th>送料</th>
                        <td><%= @order.shipping_fee.to_s(:delimited) %></td>
                    </tr>
                    <tr>
                        <th>請求金額合計</th>
                        <td class="font-weight-bold"><%= @order.total_price.round.to_s(:delimited) %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
