<h1>注文履歴詳細</h1>

<table>
    <tbody>
        <tr>
            <th>購入者</th>
            <td><%= @customer.full_name %></td>
        </tr>
        <tr>
            <th>注文日</th>
            <td><%= @order.created_at %></td>
        </tr>
        <tr>
            <th>配送先</th>
            <td>
                <%= @order.delivery_postal_code %>
                <%= @order.delivery_address %><br>
                <%= @order.delivery_name %>
            </td>
        </tr>
        <tr>
            <th>支払方法</th>
    <!--NOT YET-->
            <td>ぎんこうふりこみ</td>
        </tr>
        <tr>
            <th>注文ステータス</th>
    <!--NOT YET-->
            <td>ちゅうもんすてーたす</td>
        </tr>
    </tbody>
</table>


<table>
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th colspan="1"></th>
        </tr>
        <% @order_details.each do |details| %>
        <tr>
            <td><%= details.item.name %></td>
            <td><%= details.price_on_purchase.round %></td>
            <td><%= details.amount %></td>
            <td><%= details.get_subtotal %></td>
    <!--NOT YET-->
            <td>「ここにボタンをおきます」</td>
            <td>「更新ボタンをおきます」</td>
        </tr>
        <% end %>
    </thead>
</table>


<table>
    <tbody>
        <tr>
            <th>商品合計</th>
            <td><%= @order.get_items_total %></td>
        </tr>
        <tr>
            <th>送料</th>
            <td><%= @order.shipping_fee %></td>
        </tr>
        <tr>
            <th>請求金額合計</th>
            <td><%= @order.total_price.round %></td>
        </tr>
    </tbody>
</table>