<h1>ジャンル一覧・追加</h1>

<%= form_with model: @genre, url: admin_genres_path, method: :post do |genre| %>
    <label>ジャンル名</label>
    <%= genre.text_field :name, :placeholder => "ジャンル名" %>
    <%= genre.submit '新規登録' %>
<% end %>

<table>
    <thead>
        <tr>
            <th>ジャンル</th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <tbody>
        <% @genres.each do |genre| %>
            <tr>
                <td><%= genre.name %></td>
                <td><%= link_to '編集する', edit_admin_genre_path(genre.id) %></td>
            </tr>
        <% end %>
    </tbody>
</table>