<h1>配送先登録/一覧</h1>

<%= form_with model: @address, url: addresses_path, method: :post do |f| %>
    <table>
        <tbody>
            <tr>
                <th>郵便番号(ハイフンなし)</th>
                <td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
            </tr>
            <tr>
                <th>住所</th>
                <td><%= f.text_field :adress, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
            </tr>
            <tr>
                <th>宛名</th>
                <td><%= f.text_field :name, placeholder: "令和道子" %></td>
                <td><%= f.submit "新規登録" %></td>
            </tr>
        </tbody>
    </table>
<% end %>

<table>
    <thead>
        <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <% @addresses.each do |address| %>
            <tr>
                <td><%= address.postal_code %></td>
                <td><%= address.address %></td>
                <td><%= address.name %></td>
                <td><%= link_to "編集する", edit_address_path(address.id) %></td>
                <td><%= link_to "削除する", destroy_address_path(address.id), method: :delete %></td>
            </tr>
        <% end %>
    </tbody>
</table>