<div class="container">
    <h4 class="d-inline-block bg-light px-3 ml-5 mb-4">配送先登録/一覧</h4>
    <div class="col-11">
    <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
        <table class="table table-borderless table-sm">
            <tbody>
                <tr>
                    <th>郵便番号(ハイフンなし)</th>
                    <td><%= f.text_field :postal_code, placeholder: "0000000", class: 'rounded' %></td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: 'rounded col-12' %></td>
                </tr>
                <tr>
                    <th>宛名</th>
                    <td><%= f.text_field :name, placeholder: "令和道子", class: 'rounded' %></td>
                    <td><%= f.submit "新規登録", class: 'btn btn-success text-white px-4' %></td>
                </tr>
            </tbody>
        </table>
    <% end %>
    </div>
    <div class="col-8">
        <table class="table table-bordered">
            <thead class="table-secondary">
                <tr>
                    <th>郵便番号</th>
                    <th>住所</th>
                    <th>宛名</th>
                    <th colspan="1"></th>
                </tr>
            </thead>
            <tbody>
                <% @addresses.each do |address| %>
                    <tr>
                        <td><%= address.postal_code %></td>
                        <td><%= address.address %></td>
                        <td><%= address.name %></td>
                        <td class="text-center">
                            <%= link_to "編集する", edit_address_path(address.id), class: 'btn btn-success text-white mr-2' %>
                            <%= link_to "削除する", destroy_address_path(address.id), method: :delete, class: 'btn btn-danger text-white' %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>


