
<%= form_with model: @order, url: create_order_path, method: :post do |f| %>
<div class="container">
    <h4 class="d-inline-block bg-light px-3 mb-3 ml-5">注文情報確認</h4>
    <div class="row">
        <div class="col-8">
            <table style="height: 140px;" class="table table-bordered mb-4">
                <thead class="table-secondary">
                    <tr>
                        <th>商品名</th>
                        <th>単価(税込)</th>
                        <th>数量</th>
                        <th>小計</th>
                    </tr>
                </thead>
                <tbody>
                    <% @cart_items.each do |cart_item| %>
                    <tr>
                        <td class="align-middle"><%= image_tag cart_item.item.get_item_image(60, 40), class: 'mini-img-container mr-3' %><%= cart_item.item.name %></td>
                        <td class="align-middle"><%= cart_item.item.add_tax_price %></td>
                        <td class="align-middle"><%= cart_item.amount %></td>
                        <td class="align-middle"><%= cart_item.get_sub_total_price(cart_item.item.price).to_s(:delimited) %></td>
                        <% @items_total += cart_item.get_sub_total_price(cart_item.item.price) %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="col-3 ml-4">
            <table style="height: 160px;" class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="table-secondary">送料</th>
                        <td class="align-middle"><%= @order.shipping_fee.to_s(:delimited) %></td>
                    </tr>
                    <tr>
                        <th class="table-secondary">商品合計</th>
                        <td class="align-middle"><%= @items_total.to_s(:delimited) %></td>
                    </tr>
                    <tr>
                        <th class="table-secondary">請求金額</th>
                        <td class="align-middle"><%= (@order.shipping_fee + @items_total).to_s(:delimited) %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex">
        <h4 class="mr-3 font-weight-bold">支払方法</h4>
        <p><%= @order.payment_method_i18n %></p><br>
    </div>
    <div class="d-flex">
        <h4 class="mr-3 font-weight-bold">お届け先</h4>
        <div>
            <%= '〒' + @order.delivery_postal_code %>
            <%= @order.delivery_address %><br>
            <%= @order.delivery_name %><br>
        </div>
    </div>
    <div class="text-center">
        <%= f.submit "注文を確定する", class: 'btn btn-success text-white col-2 font-weight-bold' %>
    </div>
</div>

<%= f.hidden_field :payment_method, :value => @order.payment_method %>
<%= f.hidden_field :delivery_postal_code, :value => @order.delivery_postal_code %>
<%= f.hidden_field :delivery_address, :value => @order.delivery_address %>
<%= f.hidden_field :delivery_name, :value => @order.delivery_name %>
<%= f.hidden_field :shipping_fee, :value => @order.shipping_fee %>
<%= f.hidden_field :total_price, :value => @order.shipping_fee + @items_total %>
<%= f.hidden_field :order_status, :value => @order.order_status %>
<% end %>


