<div class="container">
    <h4 class="d-inline-block bg-light px-3 ml-5 mb-4">注文履歴一覧</h4>
    <div class="col-12">
        <table class="table table-bordered table-sm">
            <thead class="table-secondary">
                <tr>
                    <th>注文日</th>
                    <th>配送先</th>
                    <th>注文商品</th>
                    <th>支払金額</th>
                    <th>ステータス</th>
                    <th>注文詳細</th>
                </tr>
            </thead>
            <tbody>
                <% @orders.each do |order| %>
                <tr>
                    <td class="align-middle"><%= order.created_at.strftime('%Y/%m/%d') %></td>
                    <td class="align-middle">
                        <%= '〒' + order.delivery_postal_code %><br>
                        <%= order.delivery_address %><br>
                        <%= order.delivery_name %>
                    </td>
                    <td class="align-middle">
                        <% order.order_details.all.each do |order_detail| %>
                            <%= order_detail.item.name %><br>
                        <% end %>
                    </td>
                    <td class="align-middle"><%= order.total_price.to_s(:delimited) + '円' %></td>
                    <td class="align-middle"><%= order.order_status_i18n %></td>
                    <td class="text-center align-middle"><%= link_to "表示する", order_path(order.id), class: 'btn btn-primary text-white' %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>


