<% if @order.errors.any? %>
    <%= @order.errors.count %> 件のエラーが発生しました
    <ul>
        <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>
<%= form_with model: @order, url: confirm_order_path, method: :post do |f| %>
<div class="container px-sm-0">
    <div class="col-10 mx-auto">
        <h4 class="ml-5 d-inline-block bg-light mb-4">注文情報入力</h4>
        <h4>支払方法</h4>
        <div class="col-11 mb-2">
            <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
            <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %><br>
        </div>
        <h4>お届け先</h4>
        <div class="col-11">
            <%= f.radio_button :select_address, 0 %>
            <%= f.label :select_address, "ご自身の住所" %><br>
            <div class="col-11 mb-2">
                <%= current_customer.address_display_from_customer %><br>
                <%= current_customer.full_name %><br>
            </div>    
            <%= f.radio_button :select_address, 1 %>
            <%= f.label :select_address, "登録済住所から選択" %><br>
            <div class="col-11 mb-2">
                <%= f.collection_select :address_id, current_customer.addresses, :id, :address_display_from_address, include_blank: "選択してください", class: 'col-12' %><br>
            </div>    
            <%= f.radio_button :select_address, 2 %>
            <%= f.label :select_address, "新しいお届け先" %>
            <div class="col-11">
                <table class="table table-borderless table-sm">
                    <tbody>
                        <tr>
                            <th>郵便番号(ハイフンなし)</th>
                            <td><%= f.text_field :delivery_postal_code, placeholder: "0000000", class: 'rounded' %></td>
                        </tr>
                        <tr>
                            <th>住所</th>
                            <td><%= f.text_field :delivery_address, placeholder: "東京都渋谷区代々木神園町0-0", class: 'rounded col-12' %></td>
                        </tr>
                        <tr>
                            <th>宛名</th>
                            <td><%= f.text_field :delivery_name, placeholder: "令和道子", class: 'rounded' %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3 mx-auto">
                <%= f.submit "確認画面へ進む", class: 'btn btn-primary text-white font-weight-bold' %>
            </div>
        </div>
    </div>
</div>
<% end %>

