

<div class="container">
    <h4 class="d-inline-block bg-light px-3 ml-5 mb-4">注文履歴詳細</h4>
    <div class="row">
        <div class="col-7">
            <h5>注文情報</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="table-secondary">注文日</th>
                        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
                    </tr>
                    <tr>
                        <th class="table-secondary">配送先</th>
                        <td>
                            <%= '〒' + @order.delivery_postal_code %><br>
                            <%= @order.delivery_address %><br>
                            <%= @order.delivery_name %>
                        </td>
                    </tr>
                    <tr>
                        <th class="table-secondary">支払方法</th>
                        <td><%= @order.payment_method_i18n %></td>
                    </tr>
                    <tr>
                        <th class="table-secondary">ステータス</th>
                        <td><%= @order.order_status_i18n %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h5>請求情報</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="table-secondary">商品合計</th>
                        <td><%= @order.get_items_total %></td>
                    </tr>
                    <tr>
                        <th class="table-secondary">配送料</th>
                        <td><%= @order.shipping_fee.to_s(:delimited) %></td>
                    </tr>
                    <tr>
                        <th class="table-secondary">ご請求額</th>
                        <td><%= @order.total_price.to_s(:delimited) %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h5>注文内容</h5>
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th>商品</th>
                        <th>単価(税込)</th>
                        <th>個数</th>
                        <th>小計</th>
                    </tr>
                </thead>
                <tbody>
                    <% @order_details.each do |order_detail| %>
                    <tr>
                        <td><%= order_detail.item.name %></td>
                        <td><%= order_detail.price_on_purchase.to_s(:delimited) %></td>
                        <td><%= order_detail.amount %></td>
                        <td><%= (order_detail.price_on_purchase * order_detail.amount).to_s(:delimited) %></td>
                        <% @items_total += (order_detail.price_on_purchase * order_detail.amount) %>
                    <% end %>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




