<h1>商品一覧</h1>
<p>(全<%= @all_items.count %>件)</p>

<div>
    <% @items.each do |item| %>
        <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_item_image(100, 180) %><br>
            <p><%= item.name %></p>
            <p>￥<%= item.add_tax_price %></p>
        <% end %>
    <% end %>
</div>

<%= paginate @items %>