<%= render 'admin/genres/genre_search', genres: @genres %>

<% if params[:genre_id] %>
    <h1><%= @genre.name %>一覧</h1>
<% else %>
    <h1>商品一覧</h1>
<% end %>

<p>(全<%= @items.count %>件)</p>

<div>
    <% @items.each do |item| %>
        <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_item_image(100, 180) %><br>
            <p><%= item.name %></p>
            <p>￥<%= item.add_tax_price %></p>
        <% end %>
    <% end %>
</div>

<%= paginate @items %>