<div class="container px-sm-0">
    <div class="row mt-4">
        <div class="col-md-2">
            <%= render 'admin/genres/genre_search', genres: @genres %>
        </div>
        <div class="col-md-9 ml-3">
            <% if params[:genre_id] %>
                <h2 class="d-inline-block"><%= @genre.name %>一覧</h2>
            <% else %>
                <h2 class="d-inline-block">商品一覧</h2>
            <% end %>
            <span class="ml-1">(全<%= @all_items.count %>件)</span>
            
            <div class="d-flex flex-wrap justify-content-start" >
                <% @items.each do |item| %>
                <div class="col-3 mt-4">
                    <%= link_to item_path(item.id) do %>
                        <div class="img-container text-center mb-2">
                            <%= image_tag item.get_item_image(156, 120) %>
                        </div>
                        <p class="links text-decoration-none mb-1"><%= item.name %></p>
                        <p class="links text-decoration-none mb-0">￥<%= item.add_tax_price %></p>
                    <% end %>
                </div>
                <% end %>
            </div>
            <div class="col-3 mx-auto mt-4">
                <%= paginate @items %>
            </div>
        </div>
    </div>
</div>



