<%= image_tag @item.get_item_image(200, 300) %>

<h1><%= @item.name %></h1>
<p><%= @item.introduction %></p>
<h2>￥<%= @item.add_tax_price %></2>
<%= form_with model: @cart_item, url: new_cart_item_path, method: :post do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.select :amount, *[1..10], include_blank: "個数選択" %>
    <%= f.submit "カートに入れる" %>
<% end %>