<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/3b16e23ba6.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="bg-white shadow-sm border border-dark">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a><span>LOGO</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <% if admin_signed_in? %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <div class="nav-link">
                  <%= link_to "商品一覧", admin_items_path, class: 'text-dark btn btn-outline-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <%= link_to "会員一覧", admin_customers_path, class: 'text-dark btn btn-outline-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <%= link_to "注文履歴一覧", admin_top_path, class: 'text-dark btn btn-outline-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                <%= link_to "ジャンル一覧", admin_genres_path, class: 'text-dark btn btn-outline-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'text-dark btn btn-outline-dark' %>
                </div>
              </li>
            </ul>
          <% elsif customer_signed_in? %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <div class="nav-link">
                <%= link_to "マイページ", my_page_path, class: 'text-dark btn btn-outline-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                <%= link_to "商品一覧", items_path, class: 'text-dark btn btn-outline-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                <%= link_to "カート", cart_items_path, class: 'text-dark btn btn-outline-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'text-dark btn btn-outline-dark' %>
                </div>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <div class="nav-link">
                <%= link_to "About", about_path, class: 'text-dark btn btn-outline-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                <%= link_to "商品一覧", items_path, class: 'text-dark btn btn-outline-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                <%= link_to "新規登録", new_customer_registration_path, class: 'text-dark btn btn-outline-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                <%= link_to "ログイン", new_customer_session_path, class: 'text-dark btn btn-outline-dark' %>
                </div>
              </li>
            </ul>
          <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main class="border-right border-left border-dark p-5">
    <%= yield %>
    </main>
    <footer class="text-center bg-white border border-dark max-vw-100">
      <p>footer</p>
    </footer>
  </body>
</html>
